/* Current known or possible issues:
* Attempted use of grid display, but it's questionable whether it's doing anything at all
* background-video placement depends on the image _also_ being in the div, and that's why there's the negative margins
* On the topic of background-video, it's possible that things would work better if it were . instead of #
*  (the latter is, I assume, because of being a video element class, but just switch one for the other breaks things)
 */

body {
    background-color: black;
    color: white;
    margin: 0 0 0 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.background-img {
    background-size: cover;
    position: fixed;
    margin-left: 20vh;
    /*height: 40vh;*/
    /*width: 100vh;*/
    z-index: -10;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.full_grid {
    /*height: 100vh;*/
    background-color: #cf2727;
    display: grid;
    margin: -10vh 0 0;
    background-image: url("./assets/BriMegAmanBoxGraphic.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 40vh;
}

.full_grid_alt {
    background-color: black;
    display: grid;
    margin: -10vh 0 0;
}

.marquee {
    /*background-size: cover;*/
    position: absolute;
    margin-left: 25vh;
    margin-top: -63vh;
    /*height: 40vh;*/
    /*width: 40vh;*/
    z-index: 1;
}

.row_1 {
    height: 15vh;
    grid-row: 1;
    background-color: #cf2727;
    /*background-image: url("./assets/BriMegAmanMarquee.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: right;*/
    /*background-position-y: 1vh;*/
}

#nameText {
    position: absolute;
    margin-top: 5vh;
    font-size: x-large;
    font-weight: bold;
}

.row_2 {
    height: 15vh;
    grid-row: 2;
    background-color: #e1118b;
}

#minigameGreyOut {
    position: absolute;
    height: 15vh;
    width: 100%;
    background-color: #111111;
    z-index: 10;
    opacity: 80%;
}

#whoseTurn {
    position: absolute;
    text-align: center;
    height: 10vh;
    width: 30vh;
    border-radius: 80%;
    margin: 2vh 0 0 25vh;
    background-color: #ba547c;
}

#whoseTurnText {
    color: black;
    margin: 8% 0 0 0;
    font-size: x-large;
    font-weight: bold;
}

#passTurnButtonDiv {
    position: absolute;
}

#passTurnButton {
    position: absolute;
    margin-left: 1vh;
    margin-top: 2vh;
    width: 15vh;
    height: 5vh;
    background-color: #ba547c;
}

#cardClaimedButtonDiv {
    position: absolute;
}
#cardClaimedButton {
    position: absolute;
    margin-left: 1vh;
    margin-top: 8vh;
    width: 15vh;
    height: 5vh;
    background-color: #ba547c;
}
#animatedCardClaim {
    position: absolute;
}

#LeaveButtonDiv {
    position: absolute;
    margin-left: 60vh;
    margin-top: 4vh;
    height: 10vh;
    width: 10vh;
}

.row_3 {
    grid-row: 3;
    height: 15vh;
    background-color: #761b60;
    /*display: grid;*/
    /*justify-content: center;*/
    /*background-image: url("./assets/BriMegAmanMarquee.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: right;*/
    /*background-position-y: 105%;*/
}

#minigameBackgroundText {
    position: absolute;
    margin-top: -2vh;
    margin-left: 5vh;
    /*z-index: -5;*/
    font-size: 14vh;
    opacity: 25%;
}

#whoseTurnInMinigame {
    position: absolute;
    text-align: center;
    height: 10vh;
    width: 30vh;
    border-radius: 80%;
    margin: 2vh 0 0 25vh;
    background-color: #ba547c;
}

#whoseTurnInMinigameText {
    color: black;
    margin: 8% 0 0 0;
    font-size: x-large;
    font-weight: bold;
}

/*#passMinigameTurnButtonDiv {*/
    /*position: absolute;*/
/*}*/
#passMinigameTurnButton {
    position: absolute;
    margin-left: 1vh;
    margin-top: 2vh;
    width: 15vh;
    height: 5vh;
    background-color: #ba547c;
}

.joinLeaveMinigameButton {
    /*//This covers both the leave and enter buttons, thus why it's a class and not an ID*/
    position: absolute;
    margin-left: 60vh;
    margin-top: 4vh;
    height: 10vh;
    width: 10vh;
    background-color: #ba547c;
}

.row_4 {
    grid-row: 4;
}

.row_5 {
    grid-row: 5;
}

.joinLeaveGameButton {
    /*//This covers both the leave and enter buttons, thus why it's a class and not an ID*/
    background-color: #ba547c;
}

.row_6 {
    grid-row: 6;
    height: 20vh;
    /*background-color: #761b60;*/
    /*display: grid;*/
    /*justify-content: center;*/
    /*background-image: url("./assets/BriMegAmanBoxGraphic.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-position-y: 105%;*/
}

#playersInGame {
    position: absolute;
}

#numberOfCards {
    position: absolute;
    margin-left: 25vh;
}

#playersInMinigame {
    position: absolute;
    margin-left: 48vh;
}

.stage-img {
    margin-left: -7vh;
    height: 2vh;
}

.row_7 {
    height: 40vh;
}

/*Items below likely best to remove, but kept for use in trying to make sense of CSS*/
/*.bio-title {*/
/*font-size: xx-large;*/
/*font-weight: bolder;*/
/*text-decoration: none;*/
/*}*/

/*.bio-title:hover {*/
/*font-size: xx-large;*/
/*font-weight: bolder;*/
/*text-decoration: underline;*/
/*}*/

/*.projects-left {*/
/*font-size: xx-large;*/
/*text-decoration: none;*/
/*}*/

/*.projects-left:hover {*/
/*font-size: xx-large;*/
/*text-decoration: underline;*/
/*}*/

/*.projects-right {*/
/*font-size: xx-large;*/
/*text-decoration: none;*/
/*}*/

/*.projects-right:hover {*/
/*font-size: xx-large;*/
/*text-decoration: underline;*/
/*}*/

/*.project-text {*/
/*z-index: 5;*/
/*}*/

/*.image-div, .center-img, .background-video {*/
/*grid-row: 2;*/
/*grid-column: 2;*/
/*}*/

/*.image-div {*/
/*border-radius: 30%;*/
/*margin: 10pt;*/
/*height: 60vh;*/
/*width: 60vh;*/
/*overflow: hidden;*/
/*}*/

/*.center-img {*/
/*vertical-align: middle;*/
/*height: 60vh;*/
/*width: 60vh;*/
/*!*z-index: -1;*!*/
/*}*/

/*.three-object {*/
/*margin-top: -5vh;*/
/*position: fixed;*/
/*z-index: -1;*/
/*}*/

/*!*Not actually in the background at this point. Margins are due to being in the same div with an image, and other*/
/*formatting not working to just have it be over the top*!*/
/*#background-video{*/
/*vertical-align: middle;*/
/*width: 110vh;*/
/*margin-top: -62.5vh;*/
/*margin-left: -20vh;*/
/*!* float: left;*!*/
/*!* top: 0; *!*/
/*!* position: absolute;  optional depending on what you want to do in your app *!*/
/*!*z-index: 2;*!*/
/*}*/

/*.further-info {*/
/*grid-row: 3;*/
/*}*/

/*.info-div {*/
/*margin: auto;*/
/*width: 75%;*/
/*}*/

/*.paragraph-header {*/
/*font-size: xx-large;*/
/*}*/